<html>
    <head>
        <title>
            <%=title %>
        </title>
    </head>

<body>
    <h1>Playground</h1>
    <ul>
        <%for (let i=0; i<15; i++){%>
            <li><%= 
                i%></li>
            <%}%>
    </ul>
    <% if(true){ %>
        <h1>ITS TRUE</h1>
        <%}else{%>
            <p>ITS false</p>
            <%}%>
</body> 
   </html>